<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Moodify Gallery</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </head>
  <body>
    <div class="page-content">
      <h1 class="page-title">Comment vous sentez-vous ?</h1>
      <div class="footer-action">
        <button onclick="window.location.href = '/additional'" class="secondary-button">
          Charger un fichier
        </button>
      </div>
      <div class="cards-container">
      {% for item in emotions %}
      <div class="card {{ item.emotion | lower }}">
        <h2>{{ item.emotion }}</h2>
        {% if item.image and item.image.lower().endswith('.mp4') %}
        <video
          src="{{ item.image }}"
          autoplay
          loop
          muted
          playsinline
          controls
          style="width: 100%; border-radius: 5px"
        ></video>
        {% else %}
        <img
          src="{{ item.image }}"
          alt="{{ item.emotion }}"
          style="width: 100%; border-radius: 5px"
        />
        {% endif %}
        <p style="font-size: 0.9em">{{ item.description }}</p>
        <button onclick="saveEmotion('{{ item.emotion }}')">Choisir</button>
      </div>
      {% endfor %}
      </div>

      <div class="footer-action">
        <button onclick="window.location.href = '/additional'" class="secondary-button">
          Charger un fichier
        </button>
      </div>
    </div>
  </body>
</html>
