<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Ta Playlist Moodify</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container playlist-page">
      <h1>Votre Playlist du moment</h1>
      {% for item in emotions %}
      <div class="result-card">
        <h2 class="detected-emotion">{{ item.emotion }}</h2>
        {% if item.image and item.image.lower().endswith('.mp4') %}
        <video
          src="{{ item.image }}"
          controls
          autoplay
          loop
          muted
          playsinline
          class="result-media"
        ></video>
        {% else %}
        <img
          src="{{ item.image }}"
          class="result-media"
        />
        {% endif %}
        <p><i>{{ item.description }}</i></p>

        <iframe
          src="{{ item.spotify_url }}"
          width="100%"
          height="432"
          frameborder="0"
          allow="
            autoplay;
            clipboard-write;
            encrypted-media;
            fullscreen;
            picture-in-picture;
          "
          loading="lazy"
          class="result-iframe"
        ></iframe>
      </div>
      {% endfor %}

      <div class="footer-action">
        <button onclick="window.location.href = '/'" class="primary-button">Recommencer</button>
      </div>
    </div>
  </body>
</html>
